{% extends "layout.html" %}
{% block body %}
<div class="page-header text-center">
    <h1 class="title">StuyPulse on AIR</h1>
</div>
{% include "navbar.html" %}
{% if hangout_exists %}
<div class="row">
    <div class="col-md-10">
        There is currently a hangout on air!<br>
        Click <a href="{{ hangout_link }}">here</a> to join the hangout!<br>
        If you ever accidently close the hangout, start the <code>Stuypulse on Air</code> app on the left side of the hangout screen.
    </div>
    <div class="col-md-2">
        <a href="/admin" class="button" onclick="var c=window.confirm('Are you sure you want to kill the feed?');if(c){$.get('/admin',{'kill':'True'},function(){window.location.reload();})}">KILL THE FEED</a>
    </div>
</div>
<div id="youtube" class="text-center"></div>
{% else %}
<div class="row">
    <div class="col-md-12">
        There is currently no hangout on air! boohoo :(<br>
        Would you like to create a hangout?
        <div id="placeholder-div"></div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{% if hangout_exists %}
<script type="text/javascript">
$(document).ready(function() {
    $('#youtube').html('<iframe style="margin:auto; width:853; height:480;" src="//www.youtube.com/embed/{{ youtube_link }}" frameborder="0" allowfullscreen></iframe>');
    youtubeResize();
});
$(window).resize(youtubeResize);
function youtubeResize() {
    var w = $('#youtube').parent().width() * .9;
    $('#youtube iframe').width(w);
    $('#youtube iframe').height(w / 1.777);
}
</script>
{% else %}
<script type="text/javascript">
window.___gcfg = {
  lang: 'en-US'
};
(function() {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/platform.js?onload=renderButtons';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
function renderButtons(){
  gapi.hangout.render('placeholder-div', {
    'render': 'createhangout',
    'hangout_type': 'onair',
    'initial_apps': [{'app_id': '857084679279', 'app_type': 'LOCAL_APP'}],
    'widget_size': 175
  });
}
</script>
{% endif %}
{% endblock %}
