{% extends "layout.html" %}
{% block body %}
<div class="row">
    <div class="fourteen columns">
        <h1>Hello {{ user }}!</h1>
    </div>
    <div class="one columns">
        <a href="{{ logout_url }}" class="button">Logout</a>
    </div>
</div>
<div class="sixteen columns">
    <p>Would you like to create a hangout?</p>
	<div id="placeholder-div"></div>
	<div id="panel_one" style="visibility:hidden">
		<p>
			<hr style="margin: 10px 0 20px">
			After creating a hangout, paste the hangout URL here: 
			<input type="url" id="hangout_url">
			<br>
			<br>
			<input type="submit" value="Show public hangout URL" id="show_hangout">
			<br>
			<input type="submit" value="Remove public hangout URL" id="remove_hangout">
		</p>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		$("#placeholder-div").ready(setTimeout(function() { // Tried the load() event, but it doesn't fire
				$("#panel_one").css("visibility", "visible");
		}, 1000));
		$("#show_hangout").click(function() {
			url = $("#hangout_url").val();
			$.post("/admin", {show_hangout_url: url}, function(data) {
				alert(data);
			});
		});
		$("#remove_hangout").click(function() {
			$.post("/admin", {remove_hangout_url: 'True'}, function(data) {
				alert(data);
			});
		});
	});
</script>
<script type="text/javascript">
window.___gcfg = {
  lang: 'en-US'
};
(function() {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/platform.js?onload=renderButtons';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
function renderButtons(){
  gapi.hangout.render('placeholder-div', {
    'render': 'createhangout',
    'hangout_type': 'onair',
    'widget_size': 175
  });
}
</script>
{% endblock %}
