{% extends "layout.html" %}
{% block body %}
{% include "admin-navbar.html" %}
<p>Specify email recipients, one on each line</p>
<form method="post" action="/admin/settings">
    <div class="form-group">
        <textarea class="form-control" rows="10" name="email-recipients">
        {%- if settings.email_recipients -%}
            {%- for email in settings.email_recipients %}
{{ email }}
            {%- endfor -%}
        {%- endif -%}
        </textarea>
    </div>
    <button type="submit" class="btn btn-block btn-primary">Save</button>
</form>
{% endblock %}

{% block scripts %}
{% endblock %}
